configuration {
        sort: true;
        sorting-method: "fzf";
        matching: "fuzzy";
        modi: "drun,window,run,ssh,combi";
        font: "Source Code Pro 12";
        terminal: "alacritty";
}

@theme "~/.config/rofi/dracula.rasi"
