[user]
	name = Pierce Thompson
	email = pierce@insprill.net
	signingkey = AAD2CDB6ACB129C5!
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[reset]
	quiet = true
[tag]
	gpgsign = true
{{ if ne .chezmoi.os "windows" }}
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
	credentialStore = gpg
{{ end }}
[core]
{{ if ne .chezmoi.os "windows" }}
	editor = nvim
{{ else }}
	editor = neovide
{{ end }}
	autocrlf = input
	fsmonitor = true
	untrackedcache = true
[alias]
	rebase = rebase --committer-date-is-author-date
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[diff]
	wsErrorHighlight = all
[merge]
	tool = unityyamlmerge
[mergetool]
	keepBackup = false
[mergetool "unityyamlmerge"]
	trustExitCode = false
{{ if ne .chezmoi.os "windows" }}
	cmd = '/home/insprill/.local/share/Unity/Hub/Editor/2019.4.40f1/Editor/Data/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
{{ else }}
	cmd = 'C:/Program Files/Unity/Hub/Editor/2019.4.40f1/Editor/Data/Tools/UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
{{ end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{ if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ end }}
