[user]
        name = Pierce Thompson
        email = insprill@gmail.com
        signingkey = AAD2CDB6ACB129C5!
[commit]
        gpgsign = true
[init]
        defaultBranch = master
[reset]
        quiet = true
[tag]
        gpgsign = true
{{ if ne .chezmoi.os "windows" }}
	helper = /usr/lib/git-core/git-credential-libsecret
	credentialStore = gpg
{{ end }}
[core]
{{ if ne .chezmoi.os "windows" }}
	editor = nvim
{{ else }}
	editor = 'C:\\\\Program Files\\\\Microsoft VS Code\\\\Code.exe'
{{ end }}
        autocrlf = input
[push]
        autoSetupRemote = true
[diff]
	wsErrorHighlight = all
[merge]
        tool = unityyamlmerge
[mergetool "unityyamlmerge"]
        trustExitCode = false
{{ if ne .chezmoi.os "windows" }}
	cmd = '/home/insprill/.local/share/Unity/Hub/Editor/2019.4.40f1/Editor/Data/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
{{ else }}
        cmd = 'C:/Program Files/Unity/Hub/Editor/2019.4.40f1/Editor/Data/Tools/UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
{{ end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
