* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8pt;
  font-weight: 900;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}


/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

/* The whole bar */
#waybar {
    background-color: transparent;
}

/* All Tooltips */
tooltip * {
	background:	transparent;
}
tooltip.background {
  background: rgba(30, 30, 46, 0.9); /* Base */
}

/* Each module */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#mpris,
#network,
#temperature,
#tray,
#wireplumber,
#workspaces
{
  padding: 0px 12px;
  color: #cdd6f4; /* Text */
  border-radius: 20px;
  background-color: #1e1e2e; /* Base */
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#battery {
  color: #cdd6f4; /* Text */
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: #a6e3a1; /* Green */
}
#battery.warning:not(.charging) {
  color: #f9e2af; /* Yellow */
}
#battery.critical:not(.charging) {
  color: #f38ba8; /* Red */
  animation-name: battery-blink;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes battery-blink {
  to {
    color: #585b70; /* Surface 2 */
  }
}

#bluetooth {
  color: #707d9d;
}
#bluetooth.disconnected {
  color: #f53c3c;
}

#clock {
  color: #c8d2e0;
}

#cpu {
  color: #fb958b;
}

#custom-power {
  background: transparent;
}

#memory {
  color: #ebcb8b;
}

#mpris {
  background-color: #89b4fa; /* Blue */
  color: #1e1e2e; /* Base */
}

label:focus {
  background-color: #000000;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#temperature.critical {
  background-color: #f38ba8; /* Red */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8; /* Red */
}

#workspaces button {
  color: #585b70; /* Surface 2 */
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  padding: 0 0px;
}
#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: #cdd6f4; /* Text */
}
#workspaces button.urgent {
  border-radius: 10px;
  background-color: #f38ba8; /* Red */
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
