@import url("./catppuccin-mocha.css");

* {
  /* border: none; */
  /* border-radius: 0; */
  font-family: "MesloLGS NF";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @base;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @mauve;
}

tooltip label {
  color: @text;
}

#workspaces {
  margin-left: 25px;
  margin-right: 10px;
  border-bottom-left-radius: 1.0em;
  border-bottom-right-radius: 1.0em;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}


#custom-media,
#cpu,
#disk,
#memory,
#clock,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
  background: @base;
  opacity: 0.8;
  padding-left: 1.0em;
  padding-right: 1.0em;
}

#cpu.warning,
#memory.warning {
  color: @yellow;
}

#cpu.critical,
#memory.critical {
  color: @red;
}

#network {
  padding-left: 1.25em;
}

#clock {
  padding-right: 1.25em;
  margin-right: 2.0em;
  border-bottom-right-radius: 1.0em;
  color: @green;
}

#network {
  border-bottom-left-radius: 1.0em;
}

#custom-media {
  border-bottom-left-radius: 1.0em;
  border-bottom-right-radius: 1.0em;
  color: @cyan;
}

#pulseaudio {
  color: @purple;
}

#tray {
  margin-right: 75px;
  border-bottom-left-radius: 1.0em;
  border-bottom-right-radius: 1.0em;
}
