[General]
BackgroundColorMode=DocumentView::Dark
FullScreenBackground=FullScreenBackground::Image
JPEGQuality=98
SideBarPage=operations

[ImageView]
AlphaBackgroundColor=0,0,0
AnimationMethod=DocumentView::NoAnimation
MouseWheelBehavior=MouseWheelBehavior::Zoom
NavigationEndNotification=NavigationEndNotification::AlwaysWarn
ZoomMode=ZoomMode::KeepSame

[MainWindow]
MenuBar=Disabled

[ThumbnailView]
WrapAfterLast=false
